
<!-- <p>Appareil: {{appareilName}} -- Status:  {{appareilStatus}}</p>
<p>Appareil: {{appareilName}} -- Status:  {{appareilStatus}}</p>
<p>Appareil: {{appareilName}} -- Status:  {{appareilStatus}}</p> -->


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Poste</th>
            <th>Total jours congés </th>
            <th>jours restants</th>
        </tr>
    </thead>
    <tbody>        
        <tr>
            <td>1</td>
            <td>wassim</td>
            <td>Ing dev</td>
            <td>21</td>
            <td><button class="link">Gérer l'employé</button> </td>
        </tr>
         <tr>
            <td>2</td>
            <td>Adam</td>
            <td>RH Agent</td>
            <td>41</td>
            <td><button class="link">Gérer l'employé</button> </td>
        </tr>
</tbody>
</table>